language: python
python:
  - "2.7"
  - "3.5"
  - "3.6"
  - "3.8"
os:
  - linux
before_install:
  - pip install git+https://github.com/databio/henge.git@master
install:
  - pip install .
  - pip install -r requirements/requirements-test.txt
script: pytest tests -x -vv
branches:
  only:
    - dev
    - master
