{% extends "base.html" %}
{% block title %}Sequence Collections API{% endblock %}
{% block content %}
  <div>
    <h1>Sequence Collections API</h1>
    <p id="welcome" class="text-justify">
    Welcome to the Sequence Collections API. This server hosts an implementation of the <a href="https://ga4gh.github.io/refget/">GA4GH Sequence Collections specification</a>.</p>

    <p>View the <a href="/docs">API documentation</a> or explore <a href="/links_demo.html">small example sequence collections</a>.


  </div>
{% endblock %}
