{% extends "base.html" %}
{% block title %}Sequence Collections API Demo{% endblock %}
{% block content %}
  <div>
    <h1>Sequence Collections API Demo</h1>
    <p id="welcome" class="text-justify">
    Welcome to the Sequence Collections API. This server hosts an implementation of the <a href="https://seqcol.readthedocs.io/">GA4GH Sequence Collections specification (draft)</a>.</p>

    <p>View the <a href="/docs">complete API documentation</a> or try these examples:<br><br>

    <h3>Retrieving a sequence collection</h3>

    See demos here:
      <ul>
        <li><a href="/links_demo.html">Small demo sequence collections</a></li>
        <li><a href="/links_ref.html">Human reference sequence collections</a></li>
        <li><a href="/seqcol_list.html">HPRC genomes</a></li>
      
      </ul>

  </div>
{% endblock %}
